<div bsModal #modal="bs-modal" class="modal fade todo-user-modal" [ngClass]="class" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
        <h4 class="modal-title">{{title | translate}}</h4>
      </div>
      <form (ngSubmit)="ok()">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <text-input [errors]="errors" [info]="info" name="username" [(model)]="item.username" [title]="modelMeta.titles.username"
                [focused]="true" [readonly]="readonly" #focusElement></text-input>
            </div>
            <div class="col-md-6">
              <text-input [errors]="errors" [info]="info" type="email" name="email" [(model)]="item.email" [title]="modelMeta.titles.email"
                [readonly]="readonly"></text-input>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <modal-footer-buttons (onClose)="close()" (onOk)="ok()" [readonly]="readonly" [okTitle]="text" [okInProcess]="okInProcess"></modal-footer-buttons>
        </div>
      </form>
    </div>
  </div>
</div>
