<div class="app-grid todo-changes-grid" *ngIf="account">
  <div class="app-grid__toolbar--header">
    <div class="row">
      <div class="col-md-3">
        <button type="button" class="btn btn-primary" aria-label="Create" (click)="showCreateModal()" *ngIf="hardReadonly !== true && account && account.checkPermissions(['add_todo-change'])">
					<span class="fa fa-plus"></span> {{ 'Create' | translate }}
				</button>
      </div>
      <div class="col-md-9">
        <div class="pull-right">
          <grid-search-panel [(searchText)]="searchText" (onSearch)="search(true)"></grid-search-panel>
        </div>
      </div>
    </div>
  </div>
  <table class="app-grid__table table table-bordered table-hover">
    <thead>
      <tr>
        <th class="app-grid__table__col-createdAt">
          <table-column [title]="modelMeta.titles.createdAt" name="createdAt" [(columns)]="columns"></table-column>
        </th>
        <th class="app-grid__table__col-project">
          <table-column [title]="modelMeta.titles.objectType" name="objectType" [(columns)]="columns"></table-column>
        </th>
        <th class="app-grid__table__col-oldData">
          <table-column [title]="modelMeta.titles.oldData" name="oldData" [(columns)]="columns"></table-column>
        </th>
        <th class="app-grid__table__col-newData">
          <table-column [title]="modelMeta.titles.newData" name="newData" [(columns)]="columns"></table-column>
        </th>
        <th class="app-grid__table__col-action" *ngIf="hardReadonly !== true && account && account.checkPermissions(['change_todo-change','delete_todo-change'])"
          translate>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="statusListMessage">
        <td class="app-grid__table__col-status-message" [attr.colspan]="4+(hardReadonly !== true && account.checkPermissions(['change_todo-change','delete_todo-change'])?1:0)">
          {{statusListMessage | translate}}
        </td>
      </tr>
      <tr *ngFor="let item of items | slice:0:meta.perPage" (click)="selectItem(item, $event)" [ngClass]="{'info':isSelectedItem(item)}"
        (dblclick)="showEditModal(item)" [hidden]="statusListMessage">
        <td class="app-grid__table__col-createdAt">{{item.createdAtAsString}}</td>
        <td class="app-grid__table__col-objectType">{{item.objectType}}</td>
        <td class="app-grid__table__col-oldData" [innerHtml]="item.oldData"></td>
        <td class="app-grid__table__col-newData" [innerHtml]="item.newData"></td>
        <td class="app-grid__table__col-action" *ngIf="hardReadonly !== true && account && account.checkPermissions(['change_todo-change','delete_todo-change'])">
          <grid-row-buttons (onEdit)="showEditModal(item)" (onRemove)="showRemoveModal(item)" [showEdit]="hardReadonly !== true && account && account.checkPermissions(['change_todo-change'])"
            [showRemove]="hardReadonly !== true && account && account.checkPermissions(['delete_todo-change'])"></grid-row-buttons>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="app-grid__toolbar--footer" [hidden]="statusListMessage">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-9">
        <div class="pull-right" *ngIf="meta.totalPages>1 || meta.totalResults>meta.perPage">
          <pagination [directionLinks]="false" (pageChanged)="pageChanged($event)" [boundaryLinks]="true" [totalItems]="meta.totalResults"
            [rotate]="false" [maxSize]="5" [itemsPerPage]="meta.perPage" class="pagination-md pagination-compressed" firstText="&laquo;"
            lastText="&raquo;"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
