<div bsModal #modal="bs-modal" class="modal fade todo-change-modal" [ngClass]="class" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
        <h4 class="modal-title">{{title | translate}}</h4>
      </div>
      <form (ngSubmit)="ok()">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <todo-project-select-input [errors]="errors" [(model)]="item.project" [(modelAsString)]="item.projectAsString" [title]="modelMeta.titles.project"
                [readonly]="readonly" [focused]="true" #focusElement></todo-project-select-input>
            </div>
            <div class="col-md-4">
              <todo-task-select-input [errors]="errors" [(model)]="item.task" [(modelAsString)]="item.taskAsString" [title]="modelMeta.titles.task"
                [readonly]="readonly"></todo-task-select-input>
            </div>
            <div class="col-md-4">
              <text-input [errors]="errors" [info]="info" name="createdAt" [(model)]="item.createdAt" [title]="modelMeta.titles.createdAt"
                [readonly]="true"></text-input>
            </div>
            <div class="col-md-6">
              <text-input [errors]="errors" [info]="info" name="oldData" [(model)]="item.oldData" [title]="modelMeta.titles.oldData" [readonly]="readonly"></text-input>
            </div>
            <div class="col-md-6">
              <text-input [errors]="errors" [info]="info" name="newData" [(model)]="item.newData" [title]="modelMeta.titles.newData" [readonly]="readonly"></text-input>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <modal-footer-buttons (onClose)="close()" (onOk)="ok()" [readonly]="readonly" [okTitle]="text" [okInProcess]="okInProcess"></modal-footer-buttons>
        </div>
      </form>
    </div>
  </div>
</div>
