<div bsModal #modal="bs-modal" class="modal fade todo-change-modal" [ngClass]="class" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
        <h4 class="modal-title">{{title | translate}}</h4>
      </div>
      <form (ngSubmit)="ok()">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <content-type-select-input [errors]="errors" [info]="info" name="contentType" [(model)]="item.contentType" [(modelAsString)]="item.contentTypeAsString" [title]="modelMeta.titles.contentType"
                [readonly]="readonly" [focused]="true" #focusElement></content-type-select-input>
            </div>
            <div class="col-md-4">
              <text-input [errors]="errors" [info]="info" name="action" [(model)]="item.action" [title]="modelMeta.titles.action"
                [readonly]="readonly"></text-input>
            </div>
            <div class="col-md-4">
              <text-input [errors]="errors" [info]="info" name="dataId" [(model)]="item.dataId" [title]="modelMeta.titles.dataId"
                [readonly]="readonly"></text-input>
            </div>
            <div class="col-md-12">
              <text-input [errors]="errors" [info]="info" type="textarea" rows="" name="data" [(model)]="item.dataAsString" [title]="modelMeta.titles.data" [readonly]="readonly"></text-input>
            </div>
            <div class="col-md-6">
              <user-select-input [errors]="errors" [info]="info" name="user" [(model)]="item.user" [(modelAsString)]="item.userAsString" [title]="modelMeta.titles.user"
                [readonly]="readonly"></user-select-input>
            </div>
            <div class="col-md-6">
              <text-input [errors]="errors" [info]="info" name="createdAt" type="date" [(model)]="item.createdAtInput" [title]="modelMeta.titles.createdAt"
                [readonly]="readonly"></text-input>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <footer-buttons (onClose)="close()" (onOk)="ok()" [readonly]="readonly" [okTitle]="text" [okInProcess]="okInProcess"></footer-buttons>
        </div>
      </form>
    </div>
  </div>
</div>
